@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BlackOps;
  src: url('/BlackOpsOne-Regular.ttf');
}

a {
  /** colors.drp */
  color: #ee6059;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
  font-family: BlackOps;
  text-transform: uppercase;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.8rem;
}
.subtitle {
  font-family: BlackOps;
}
address {
  font-style: normal;
}
